{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Nueva Plantilla" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col align-content-center text-center py-5 my-5">
      <h1>{% trans "Nuevo Horario" %}</h1>

      {% get_providers as socialaccount_providers %}

      <form class="form-group" method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <p>{{ form.non_field_errors }}</p>
        </div>
        {% endif %}

        {% for field in form %}
        <div class="form-group">
          {{ field | attr:"class:form-control mx-auto my-5"}}
        </div>
        {% endfor %}
        <!--<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>-->
        <button class="btn btn-outline-primary" type="submit">{% trans "Crear" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}